- - -

### `Tesla`

Recuperación de información de la empresa Tesla.

In [1]:
import numpy as np
import pandas as pd
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sb
import yfinance as yf

Descarga de la información histórica (del 2000 a la fecha actual) de la empresa Tesla.

In [2]:
tsla = yf.download('TSLA', start='2018-01-01', end='2023-01-31', rounding=True, group_by='Date')[['Open' , 'Adj Close']]
tsla

[*********************100%***********************]  1 of 1 completed

              Open  Adj Close
Date
2018-01-02   20.80      21.37
2018-01-03   21.40      21.15
2018-01-04   20.86      20.97
2018-01-05   21.11      21.11
2018-01-08   21.07      22.43
...            ...        ...
2023-01-24  143.00     143.89
2023-01-25  141.91     144.43
2023-01-26  159.97     160.27
2023-01-27  162.43     177.90
2023-01-30  178.05     166.66

[1278 rows x 2 columns]

In [3]:
tsla.to_csv(r'D:\Henry\Repo\PP\P02\tsla.csv')